---
---

@import "minima";

.profile-pic {
  width: 200px;
  border-radius: 999px;
  border: 3px solid #ddd;
  margin: 1rem 0 1.5rem;
}
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1rem;
    margin: 1rem 0 1.25rem;
  }
.project-img {
  width: 100%;
  border-radius: 14px;
  border: 1px solid #e6e6e6;
  box-shadow: 0 2px 12px rgba(0,0,0,.06);
}